<div *ngIf='flag; then sent else received'></div>
<ng-template #received >
  <div class="message received"  >
      {{data.content}}
    <span class="metadata">
        <span class="time"> {{ data.from }}&ensp;</span> 
        <span class="time">{{ messageTime }}</span>
    </span>
  </div>
</ng-template>
<ng-template #sent >
  <div class="message sent">
    {{data.content}}
    <span class="metadata">
        <span class="time">{{ data.from }}&ensp;</span> 
      <span class="time">{{ messageTime }}</span>
    </span>
  </div>
</ng-template>