 
  .received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
  }  
  .received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
  }
  
 .sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
  }