ion-card{
    display: fixed;
    //flex-direction: column;
    height: 100%;
    width: 80%;
    margin-right: 10%;
  }

table{
  width: 70%;
  height: 80%;
  margin: auto;
}

th {
  background:rgb(163, 183, 196);
}

span {
  content: "\2190";
  font-size: 30px;
}