<!-- <ion-header>
  <ion-toolbar text-center> -->
    <!-- <ion-segment>
      <ion-segment-button value="Logout" (click)="logout()">
        התנתק
      </ion-segment-button>
      <ion-segment-button value="Manage SupportRep" (click)="scrollToElement($event)">
        רשימת נציגים
      </ion-segment-button>
      <ion-segment-button value="Manage Client Stories" (click)="scrollToElement($event)">
        עריכת סיפורים
      </ion-segment-button>
      <ion-segment-button value="Manage Gallery" (click)="scrollToElement($event)">
        עריכת גלריה
      </ion-segment-button>
      <ion-segment-button value="Edit Association Info " (click)="scrollToElement($event)">
        עריכת מידע
      </ion-segment-button>
      <ion-segment-button value="View History Chat" (click)="scrollToElement($event)">
        היסטורית צ'אט
      </ion-segment-button>
      <ion-segment-button value="Edit client profile" (click)="scrollToElement($event)">
        עריכת פרופיל לקוח
      </ion-segment-button>
      <ion-segment-button value="SupportRep Logins" (click)="scrollToElement($event)">
        התחברות נציגים
      </ion-segment-button>
      <ion-segment-button value="Ready for chat" id="readyButton" style=color:red (click)="readyForChat()">
        "מוכן לשיחה"
      </ion-segment-button>

    </ion-segment> -->

    <!-- <ion-button value="Logout" (click)="logout()">התנתק</ion-button> -->
    <!-- <ion-button value="Manage SupportRep" (click)="scrollToElement($event)">רשימת נציגים</ion-button> -->
    <!-- <ion-button id="ManageClientStories" (click)="onClick($event)">עריכת עדויות</ion-button>
    <ion-button id="ManageGallery" (click)="onClick($event)">עריכת הגלריה</ion-button>
    <ion-button id="EditAssociationInfo" (click)="onClick($event)">עריכת האודות</ion-button>
    <ion-button id="ViewHistoryChat" (click)="onClick($event)">הסטוריית צ'אט</ion-button>
    <ion-button id="EditEvents" (click)="onClick($event)">עריכת ארועים</ion-button>
    <ion-button id="ShowClient" (click)="onClick($event)">הצג לקוחות</ion-button>
    <ion-button id="ShowSupportRep" (click)="onClick($event)">הצג נציגים</ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' text-center>
          <ion-button value="Logout" (click)="logout()">התנתק</ion-button>
          <ion-button id="ManageClientStories" (click)="onClick($event)">עריכת עדויות</ion-button>
          <ion-button id="ManageGallery" (click)="onClick($event)">עריכת הגלריה</ion-button>
          <ion-button id="EditAssociationInfo" (click)="onClick($event)">עריכת האודות</ion-button>
          <ion-button id="ViewHistoryChat" (click)="onClick($event)">הסטוריית צ'אט</ion-button>
          <ion-button id="EditEvents" (click)="onClick($event)">עריכת ארועים</ion-button>
          <ion-button id="ShowClient" (click)="onClick($event)">הצג לקוחות</ion-button>
          <ion-button id="ShowSupportRep" (click)="onClick($event)">הצג נציגים</ion-button>
      </ion-col>
      <ion-col size='12'>
        <ion-card id="Manage-SupportReps" text-center [hidden]="true">
          <p text-center>רשימת נציגים </p>
          <ion-toolbar>

            <ion-searchbar class="search"></ion-searchbar>
            <ion-button>חיפוש</ion-button>

          </ion-toolbar>
          <ion-button (click)="addSupport()">הוסף</ion-button>
          <table id="tables" text-right>
            <thead>
              <tr>
                <th text-center></th>
                <th text-center>התחבר לאחרונה</th>
                <th text-center>אימייל</th>
                <th text-center>שם נציג</th>

              </tr>

            </thead>

            <tbody text-right>
              <tr *ngFor="let x of list">
                <td>
                  <ion-button color="danger" (click)="deleteSupportRep(x)">מחק</ion-button>
                </td>
                <td></td>
                <td>{{x.email}}</td>
                <td>{{x.name}}</td>

              </tr>
            </tbody>

          </table>
        </ion-card>


        <ion-card text-center id="Manage-Client-Stories" [hidden]="true">
          <p text-center>רשימת סיפורים </p>
          <ion-button>הוסף</ion-button>


          <table id="tables" text-right>
            <tr>
              <th text-center></th>
              <th text-center>אושר/לא אושר</th>
              <th text-center>תאריך העלאה</th>
              <th text-center>נכתב על ידי</th>
              <th text-center>id</th>
            </tr>
            <tr>
              <td>
                <ion-button color="danger">הורד</ion-button>
                <ion-button>מחק</ion-button>
              </td>
              <td>אושר</td>
              <td>12.4.19 7:45</td>
              <td>אנונימי1</td>
              <td> 111111</td>

            </tr>
            <tr>
              <td>
                <ion-button color="success">אשר</ion-button>
                <ion-button>מחק</ion-button>
              </td>
              <td>לא אושר</td>
              <td>10.2.19 14:45</td>
              <td>אנונימי2</td>
              <td> 111333</td>
            </tr>

            <tr>
              <td>
                <ion-button color="success">אשר</ion-button>
                <ion-button>מחק</ion-button>
              </td>
              <td>לא אושר</td>
              <td>10.5.19 13:00</td>
              <td>אנונימי3</td>
              <td>993222</td>
            </tr>
          </table>
        </ion-card>


        <ion-card text-center id="Manage-Gallery" [hidden]="true">
          <p text-center>גלריה </p>
          <ion-button>הוסף</ion-button>
          <ion-button>מחק</ion-button>
        </ion-card>

        <ion-card text- center id="Edit-Association-Info" [hidden]="true">
          <p text-center>עריכת מידע </p>
          <ion-button>הוסף</ion-button>
          <ion-button>מחק</ion-button>
        </ion-card>

        <ion-card text-center id="View-History-Chat" [hidden]="true">
          <p text-center> היסטוריית שיחות </p>
          <ion-toolbar>
            <ion-button style=" display: inline-block;" style="height: 25px;">חיפוש</ion-button>
            <input> שם:
            <input> תאריך:
            <input> אזור:
          </ion-toolbar>
          <p text-center> מיין לפי: </p>
          <input type="radio">תאריך
          <input type="radio">שם
        </ion-card>

        <ion-card text-center id="Manage-Clients" [hidden]="true">
          <p text-center> כאן ניצור טבלה של הלקוחות </p>
          <ion-button>חיפוש</ion-button>
        </ion-card>

        <ion-card text-center id="Edit-Events" [hidden]="true">
          <p text-center>עריכת ארועים </p>
          <ion-button> חיפוש ארוע</ion-button>
          <ion-button> הוספת ארוע </ion-button>
          <ion-button> הסרת ארוע</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>