<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' text-center>
        <ion-button value="Logout" (click)="logout()">התנתק</ion-button>
        <ion-button id="ManageClientStories" (click)="onClick($event)">עריכת עדויות</ion-button>
        <ion-button id="ManageGallery" (click)="onClick($event)">עריכת הגלריה</ion-button>
        <ion-button id="EditAssociationInfo" (click)="onClick($event)">עריכת האודות</ion-button>
        <ion-button id="ViewHistoryChat" (click)="onClick($event)">הסטוריית צ'אט</ion-button>
        <ion-button id="EditEvents" (click)="onClick($event)">עריכת ארועים</ion-button>
        <ion-button id="ShowClient" (click)="onClick($event)">הצג לקוחות</ion-button>
        <ion-button id="ShowSupportRep" (click)="onClick($event)">הצג נציגים</ion-button>
      </ion-col>
      <ion-col size='12'>
        <ion-card id="Manage-SupportReps" text-center [hidden]="true">
          <p text-center>רשימת נציגים </p>
          <ion-toolbar>

            <ion-searchbar class="search"></ion-searchbar>
            <ion-button>חיפוש</ion-button>

          </ion-toolbar>
          <ion-button (click)="addSupport()">הוסף</ion-button>
          <table id="tables" text-right>
            <thead>
              <tr>
                <th text-center></th>
                <th text-center>התחבר לאחרונה</th>
                <th text-center>אימייל</th>
                <th text-center>שם נציג</th>

              </tr>

            </thead>

            <tbody text-right>
              <tr *ngFor="let x of list">
                <td>
                  <ion-button color="danger" (click)="deleteSupportRep(x)">מחק</ion-button>
                </td>
                <td></td>
                <td>{{x.email}}</td>
                <td>{{x.name}}</td>

              </tr>
            </tbody>

          </table>
        </ion-card>


        <ion-card text-center id="Manage-Client-Stories" [hidden]="true">
          <h3 text-center>רשימת סיפורים </h3>
          <!-- check if need to have an option of adding a story here -->

          <table id="tables" text-center>
            <thead>
              <tr>
                <th text-center>עריכת עדות</th>
                <th text-center>אושר/לא אושר</th>
                <th text-center>תאריך העלאה</th>
                <th text-center>מספר מזהה</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let story of storiesArray'>
                <td> <ion-button color="danger" (click)="deleteStory(story)">מחק</ion-button><ion-button (click)="editStory(story)">עריכה</ion-button>
                  <ion-button *ngIf='!story.approved' color="success" (click) = "confirmStory(story)">אשר</ion-button>
                </td>
                <td *ngIf='story.approved'> אושר</td>
                <td *ngIf='!story.approved'> לא אושר</td>
                <td>{{story.stringDate | date: "dd/MM/yyyy"}}</td>
                <td>{{story.id}}</td>
              </tr>

            </tbody>
          </table>

   
         <ion-card>
             <!-- Text editor for the stories -->
           <ejs-richtexteditor id='defaultRTE' class='none' [(value)]='value' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools' [hidden]="true"></ejs-richtexteditor>
          <ion-button id= 'save-edit' (click) = "acceptStoryChange()" [hidden]="true" >שמור עריכה</ion-button>
         </ion-card>

        </ion-card>
      

        <ion-card text-center id="Manage-Gallery" [hidden]="true">
          <p>נהל גלריה</p>
          <input type="file" (change)="addFile($event)" />
          <div>{{ uploadPercent | async }}</div>
          <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
          <ion-button (click)="uploadFile()">הוסף</ion-button>
        </ion-card>

        <ion-card text- center id="Edit-Association-Info" [hidden]="true">
          <p text-center>עריכת מידע </p>
          <ion-button>הוסף</ion-button>
          <ion-button>מחק</ion-button>
        </ion-card>

        <ion-card text-center id="View-History-Chat" [hidden]="true">
          <p text-center> היסטוריית שיחות </p>
          <ion-toolbar>
            <ion-button style=" display: inline-block;" style="height: 25px;">חיפוש</ion-button>
            <input> שם:
            <input> תאריך:
            <input> אזור:
          </ion-toolbar>
          <p text-center> מיין לפי: </p>
          <input type="radio">תאריך
          <input type="radio">שם
        </ion-card>

        <ion-card text-center id="Manage-Clients" [hidden]="true">
          <p text-center> כאן ניצור טבלה של הלקוחות </p>
          <ion-button>חיפוש</ion-button>
        </ion-card>

        <ion-card text-center id="Edit-Events" [hidden]="true">
          <p text-center>עריכת ארועים </p>
          <ion-button> חיפוש ארוע</ion-button>
          <ion-button> הוספת ארוע </ion-button>
          <ion-button> הסרת ארוע</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>