.search {
  width: 30%;
  display: inline-block;
}

#tables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tables td,
#tables th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tables tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tables tr:hover {
  background-color: #ddd;
}

#tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #49C2FE;
  color: white;

  position: sticky;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}

.my-custom-scrollbar {
  position: relative;
  height: 360px;
  overflow: auto;
  display: block;
}

#adminHistorytable1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#adminHistorytable1 td,
#adminHistorytable1 th {
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: collapse;
}

#adminHistorytable1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

;


//#supRepTBody1 tr:hover {background-color: #ddd;};

#adminHistorytable1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #49C2FE;
  color: white;

}

#adminHistorytable1 tbody {
  overflow-y: auto
}

#rounded {
  width: 100%;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#manage-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.p {
  cursor: pointer;
}

#info-editor_rte-edit-view {
  padding-top: 50px;
}

#story-editor_rte-edit-view {
  padding-top: 50px;
}

#event-editor_rte-edit-view {
  padding-top: 50px;
}

tr.active {
  background-color: yellow;
}
<<<<<<< HEAD

.uploadImage {
  padding-left: 10px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uploadImage + label {
  padding: 4px 15px;
  height: 3.15em;
  border-style: solid;
  border-radius: 8px;
  display: inline-block;
  background-color: #3880ff;
  color: white;
  cursor: pointer;
}
=======
>>>>>>> ff712f52b6ea95e08be8ba40c8538c9066c147c9
