<ion-header>

    <img src='../../assets/logo/Chat.png' />

</ion-header>
<ion-content #mainContent class="messages" >

    <ion-grid >
        <ion-row *ngFor='let msg of messages'>
            <ion-col >
                <app-chat-bubble [data]='msg' bind-clientName='clientName' bind-supportRepName='supportRepName'></app-chat-bubble>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer style="background: gray">

    <ion-toolbar>
        <h6 slot='start'>הודעה:</h6>
        <ion-input (keyup)='onKeyUp($event)' #messageField></ion-input>
        <ion-button [disabled]='isMessageInvalid()' slot='end' (click)='beforeSendMessage()'>שלח</ion-button>
    </ion-toolbar>

</ion-footer>
