<ion-header>
    <a href='/' (click)="ngOnDestroy()">
        <img src='../../assets/logo/Chat.png' />
    </a>
</ion-header>
<ion-content #mainContent class="messages">
 <div id = "chatLogoImage">
    <ion-grid style="opacity: 1">
        <ion-row *ngFor='let msg of messages' style="opacity: 1">
            <ion-col>
                <app-chat-bubble [data]='msg' bind-clientName='clientName' bind-supportRepName='supportRepName'>
                </app-chat-bubble>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>

<ion-footer id= "chatFooter" >

    <ion-toolbar>
        <h6 slot='start'>הודעה:</h6>
        <ion-input (keyup)='onKeyUp($event)' #messageField></ion-input>
        <ion-button [disabled]='isMessageInvalid()' slot='end' (click)='beforeSendMessage()'>שלח</ion-button>
    </ion-toolbar>

</ion-footer>