ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rtl {
    --background: red
}

ion-content {
    --ion-background-color: #efeded;
}

ion-title {
    font-size: 60px;
}

#loginLogoImage {
    /* The image used */
    background-image: url('../../assets/logo/logo.png');

    /* Set a specific height */
    height: 96%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px 350px;
}