<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12'>


        <ion-button style="text-align: center;" style="margin-left:20%" size='large' (click)="logOut()">התנתק</ion-button>
        <ion-button id="supportRepreadyButton" size='large'color ="danger" style="margin-left:40%" (click)="inShift()">"מוכן לשיחה"
        </ion-button>

        <ion-card>
            <p text-center> כל השיחות הפתוחות </p>
            <div id="scrollbar1" class="my-custom-scrollbar">
          <table id="supReptable1" text-right class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th text-center></th>
                <th text-center> סטטוס</th>
                <th text-center> שם הנציג בשיחה</th>
                <th text-center>שעת פתיחת חדר </th>
                <th text-center>שם הלקוח</th>
                <th text-center>מספר </th>

              </tr>

            </thead>

             <tbody text-right id="supRepTBody1">
            </tbody> 

          </table>
          </div>
        </ion-card>


        <ion-card>
            <p text-center>  כל השיחות הפתוחות שלי </p>
            <div id="scrollbar2" class="my-custom-scrollbar">
          <table id="supReptable2" text-right>
            <thead>
              <tr>
                <th text-center></th>
                <th text-center></th>
                <th text-center></th>
                <th text-center> סטטוס</th>
                <th text-center> שם הנציג בשיחה</th>
                <th text-center>שעת פתיחת חדר </th>
                <th text-center>שם הלקוח</th>
                <th text-center>מספר </th>

              </tr>

            </thead>

             <tbody text-right id="supRepTBody2">
            </tbody> 

          </table>
        </div>
        </ion-card>


        <ion-card text-center  id="View History Chat">
          <p text-center> היסטוריית שיחות </p>
          <ion-toolbar>
              
            <ion-button id="reset" (click)="clearFields()">נקה שדות</ion-button>
            <ion-button (click)=searchChat()>חיפוש</ion-button>
            
            <input type="text" style="margin:10px" id="Cname"   placeholder="שם הלקוח" text-right>

            <input type="date" id="Cdate2" style="margin:10px" text-right>החל מ

            <input type="date" id="Cdate1" style="margin:10px" (change)="wakeUpDate()" text-right>עד
          
            
          </ion-toolbar>
          <p text-center> :מיין לפי </p>
          <ion-button size="small" color="success" id="nameBtn" (click)="sortByName(this.nameStatus)"> שם  </ion-button>
          
         <ion-button size="small" color="success" (click)="sortByDate(this.dateStatus)" >תאריך</ion-button>
         <div id="scrollbar3" class="my-custom-scrollbar" >
          <table id="supReptable3" text-right scrollY="true">  
              <thead>
                <tr >
                  <th text-center></th>
                  <th text-center></th>
                  <th text-center> מצב החדר</th>
                  <th text-center> שם הלקוח</th>
                  <th text-center>שעה ותאריך פתיחת החדר </th>
                  
                  <th text-center> מספר </th>
  
                </tr>
  
              </thead>
  
               <tbody text-right id="supRepTBody3">
                 <tr *ngFor ="let i of myChats ; index as j">
                 <td><ion-button id="download" (click)="downloadChatMsg(i.ChatRoomId)" color="success" >הורד שיחה</ion-button></td>
                 <td><ion-button (click)="openRoom(i.ChatRoomId)" color="success" disabled={{!i.open}}>כנס לחדר</ion-button></td>
                 <td>{{i.open? 'פתוח':'סגור'}}</td>
                 <td>{{!i.ClientName? 'לא הוכנס שם': i.ClientName}}</td>
                 <td>{{i.timestamp | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                 <td>{{j+1}}</td>
                </tr>
                </tbody>
                </table>
              </div>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



