.search{
   
    width: 30%;
    
    display: inline-block;

}



#supReptable1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #supReptable1 td, #supReptable1 th {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;
  }
  
  #supReptable1 tr:nth-child(even){background-color: #f2f2f2;};
  
  
  #supReptable1 tr:hover {background-color: #ddd;};
  
  #supReptable1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    
  }

