


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12'>
      
         
          <ion-button style="text-align: center;" style="margin-left:20%" size='large'  >התנתק</ion-button>
          <ion-button  size='large' color="danger" style="margin-left:40%" (click)="readyForChatColor(this)">"מוכן לשיחה"</ion-button>
       
          <ion-card>
              <table id="tables" text-right>
                  <thead>
                           <tr>
                              <th text-center></th>
                              <th text-center> סטטוס</th>
                              <th text-center>שעת פתיחת חדר </th>
                              <th text-center>שם הלקוח</th>
                               <th text-center>מספר חדר צ'אט</th>
                             
                             </tr>
                           
                             </thead>
                
                             <tbody text-right>
                              <tr *ngFor="let x of openChatList">
                                  <td ></td>
                                  <td></td>
                                  <td>{{x.username}}</td>
                                <td ></td>
                                <td ></td>
                                                          
                              </tr>
                              </tbody>             
      
                </table>
              </ion-card>


        <ion-card text-center style="height: 500px" id="View History Chat">
          <p text-center> היסטוריית שיחות </p>
          <ion-toolbar>
            <ion-button style=" display: inline-block;" style="height: 25px;">חיפוש</ion-button>
            <input> שם:
            <input> תאריך:
            <input> אזור:
          </ion-toolbar>
          <p text-center> מיין לפי: </p>
          <input type="radio">תאריך
          <input type="radio">שם
        </ion-card>
        

       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>