<ion-grid style='background-color: #d4d4d4;'>
    <ion-row>
        <ion-col>
            <ion-card text-center class='toChat'>
                <ion-grid fixed>
                    <ion-row style='display: grid; margin-top: 5%;'>
                        <h1>איך אנחנו יכולים לעזור?</h1>
                        <h3>חשוב לנו לשמוע אותך</h3>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <!-- <ion-row>
                                <ion-col text-center>
                                    <ion-icon style="font-size:40px; opacity: 0.7;" color='favorite'
                                        name="logo-facebook">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col text-center>
                                    <ion-button color='favorite' (click)='sendToFacebook()' style='opacity: 0.7;'
                                        shape='round'>כניסה לפייסבוק
                                    </ion-button>
                                </ion-col>
                            </ion-row> -->
                            <img src='/assets/partOfPages/facebook_icon.png' class='icons' (click)='sendToFacebook()' />
                        </ion-col>
                        <ion-col>
                            <!-- <ion-row>
                                <ion-col text-center>
                                    <ion-icon style="font-size: 40px; opacity: 0.7;" color='favorite'
                                        name='chatbubbles'></ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col text-center>
                                    <ion-button color='favorite' (click)='userDetails()' style='opacity: 0.7;'
                                        shape='round'>צ'אט עם נציג
                                        אונליין
                                    </ion-button>
                                </ion-col>
                            </ion-row> -->
                            <img src='/assets/partOfPages/chat_icon.png' class='icons' (click)='userDetails()' />
                        </ion-col>

                        <ion-col>
                            <!-- <ion-row>
                                <ion-col text-center>
                                    <ion-icon style="font-size:40px; opacity: 0.7;" color='favorite' name="mail">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col text-center>
                                    <ion-button color='favorite' style='opacity: 0.7;' shape='round'>שליחת מייל
                                    </ion-button>
                                </ion-col>
                            </ion-row> -->
                            <img src='/assets/partOfPages/mail_icon.png' class='icons' />
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row style='margin-top: 5%;'>
        <ion-col>
            <ion-card text-center>
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/zRm3S8bqtOo"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card text-center class='donate'>
                <ion-card-content>
                    <!-- <img style="display:inline-block; position: relative;" src="../assets/partOfPages/donatePic.png" /> -->
                    <ion-button style="margin-top: 75px;" size='small' shape='round' color='favorite'
                        (click)="moveToJgive()">
                        לתרומה לחץ כאן</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card text-center class='aboutQube'>
                <ion-card-content id='association-info'></ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ion-col>
            <ion-card text-right class="about">
                <ion-card-content id='association-info'></ion-card-content>
            </ion-card>
        </ion-col> -->
    <!-- <ion-col size='auto'> -->
    <!-- <ion-card text-right> -->
    <!-- <ion-card-content> -->
    <!-- <app-donate></app-donate> -->
    <!-- </ion-card-content> -->
    <!-- </ion-card> -->
    <!-- </ion-col> -->
    <!-- </ion-row> -->
    <ion-row>
        <ion-col size='12'>
            <ion-card>
                <ion-card-content>
                    <app-gallery></app-gallery>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-footer text-center>Created by Ariel, Tom, Saar, Avraham, Ofir &copy;</ion-footer>
</ion-grid>