ion-card {
    height: 300px;
    box-shadow: none !important;
}

.toChat {
    color: white;
    background-color: #111111;
    padding-top: 5em;
}

.about{
    font-size: 14px
}

.about h1 {
color: black;
font-weight: bold;
}
