.margin-auto {
    margin: 0px auto;
}

// body {
//     position: relative;
//     background-color: #f7f5f5;
//     color: rgba(0,0,0,.74);
//     font: 400 15px/20px Roboto,"Helvetica Neue",sans-serif;
// }

.demo-div {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
}


.box-shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}