<!-- <div class="margin-auto demo-div box-shadow" -->
    <!-- [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}"> -->
    <ng-image-slider *ngIf="showSlider" #nav [images]="imageObject" [infinite]="sliderInfinite"
        [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
        [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0"
        [slideImage]="+sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
        (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)"></ng-image-slider>
<!-- </div> -->