<!-- <div class="margin-auto demo-div box-shadow" -->
<!-- [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}"> -->
<!-- <ng-image-slider *ngIf="showSlider" #nav [images]="imageObject" [infinite]="sliderInfinite"
        [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
        [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0"
        [slideImage]="+sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
        (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)"></ng-image-slider> -->
<!-- </div> -->

<div style="margin-bottom:25px">
    <div style="display:block;" [style.width]="width">
        <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
            [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay"
            [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
            [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
            [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
            [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
            [fullscreen]="fullscreen">
        </slideshow>
    </div>
</div>