<ion-content fixed #mainContent>

  <ion-grid fixed>
    <ion-item style='width: fit-content;'>
      <ion-button id='scroll-to-editor-btn' color="medium" size="large" (click)="writeYourStory()">אני רוצה לשתף את
        הסיפור האישי שלי
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col>
        <div id='upload-stories'></div>
      </ion-col>
    </ion-row>
    <br /><br /><br />
    <ion-row>
      <ion-col>
        <ion-card id='tell-your-story' [hidden]="false">
          <ion-card-header>
            <ion-card-title text-right>ספר את הסיפור שלך</ion-card-title>
          </ion-card-header>
          <ion-card-content text-right>
            <ion-input type="text" #title placeholder='נושא הסיפור שלי' text-right></ion-input>
            <br />
            <ejs-richtexteditor text-right placeholder='ספר/י על המקרה שלך.' id='defaultRTE' [(value)]='value'
              [toolbarSettings]='tools' [quickToolbarSettings]='quickTools'>
            </ejs-richtexteditor>
            <br />
            <ion-button (click)='sendStory()'>שלח</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer text-center>Created by Ariel, Tom, Saar, Avraham, Ofir &copy;</ion-footer>
</ion-content>