<ion-header>

  <ion-toolbar color="primary">
    <ion-thumbnail slot="start">
      <img style="display:inline-block" src="../assets/logo/association_logo.jpg" />
    </ion-thumbnail>
    <a href='/home' style="color: white; text-decoration: none;">
      <ion-title text-right>תקווה בחושך - תיק לקוח</ion-title>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 10%">
    <ion-grid>
      <ion-row>
        <ion-col text-right>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                פרטים אישיים
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>

                <ion-row>
                  <ion-col class="class-margin">
                    <ion-label>גיל</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="גיל" #age></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>כתובת</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="כתובת" #address></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>שם משפחה</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="שם משפחה" #last_name></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>שם פרטי</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="שם פרטי" #first_name></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="class-margin">
                    <ion-label>מין</ion-label>
                    <ion-radio-group>
                      <ion-row style="margin-top: 2%">
                        <ion-col>
                          <ion-label>זכר</ion-label>
                          <ion-radio value="male" #male></ion-radio>
                        </ion-col>
                        <ion-col>
                          <ion-label>נקבה</ion-label>
                          <ion-radio value="female" #female></ion-radio>
                        </ion-col>
                        <ion-col>
                          <ion-label>אחר</ion-label>
                          <ion-radio value="other" #other></ion-radio>
                        </ion-col>
                      </ion-row>
                    </ion-radio-group>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>כתובת מייל</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="כתובת מייל" #email></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>טלפון בית</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="טלפון בית" #phone_num></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col class="class-margin">
                    <ion-label>פלאפון</ion-label>
                    <ion-item text-right>
                      <ion-input placeholder="פלאפון" #cellphone></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-right>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                תקציר שיחה
              </ion-card-title>
            </ion-card-header>
            <ion-card-content style="height: 200px">
              <ion-textarea placeholder="תקציר שיחה" rows="7" #brief></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-right>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                הערות
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="הערות" rows="7" #comments></ion-textarea>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button style="margin-left: 45%" (click)="updateClientProfile()">עדכן תיק לקוח</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>