<ion-header>

    <ion-toolbar color="primary">
        <ion-thumbnail slot="start">
            <img style="display:inline-block" src="../assets/logo/association_logo.jpg" />
        </ion-thumbnail>
        <a href='/home' style="color: white; text-decoration: none;">
            <ion-title text-right>תקווה בחושך</ion-title>
        </a>
    </ion-toolbar>

    <ion-toolbar id='toolbarHeader' #toolbarHeader >
        <ion-segment>
            <ion-segment-button value="supportRep" checked (click)=(onclick($event))>
                supportRep
            </ion-segment-button>
            <ion-segment-button value="admin" (click)=(onclick($event))>
                Admin
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <app-support-rep-profile #supportRep id="supportRep" [hidden]=false></app-support-rep-profile>
    <app-admin-profile #admin id="admin" [hidden]=true></app-admin-profile>
    

</ion-content>