<ion-header>

    <ion-toolbar color="primary">
        <ion-thumbnail slot="start">
            <img style="display:inline-block" src="../assets/logo/association_logo.jpg" />
        </ion-thumbnail>
        <a href='/home' style="color: white; text-decoration: none;">
            <ion-title text-right>תקווה בחושך</ion-title>
        </a>
    </ion-toolbar>

    
    <ion-grid>
        <ion-row>
            <ion-col >
                <ion-button style="margin-left: 10%" (click) = 'logout()'>
                    התנתק
                </ion-button>
            </ion-col>
            <ion-col >
                <ion-toolbar  id='toolbarHeader' #toolbarHeader hidden='true' >
                    <ion-segment>
                        <ion-segment-button value="supportRep" checked (click)=(onclick($event))>
                            דף נציג
                        </ion-segment-button>
                        <ion-segment-button value="admin" (click)=(onclick($event))>
                            עריכה
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-col>
            <ion-col>
                <ion-button id='inShiftButton' style="margin-left: 60%" color ="danger" (click)="inShift()">
                    לא במשמרת
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    

</ion-header>

<ion-content>
    <app-support-rep-profile #supportRep id="supportRep" [hidden]=false></app-support-rep-profile>
    <app-admin-profile #admin id="admin" [hidden]=true></app-admin-profile>
    

</ion-content>