<ion-header>
    <ion-toolbar>
        <ion-title text-right>
            תקווה בחושך
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="chat" routerLink='/chat'>
                צ'אט
            </ion-segment-button>
            <ion-segment-button value="stories">
                סיפורים
            </ion-segment-button>
            <ion-segment-button value="home" checked>
                אודות
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

    <app-calender></app-calender>
    <app-gallery></app-gallery>
    <app-donate></app-donate>

</ion-content>