ion-card {
    height: 300px;
    box-shadow: none !important;
}

ion-grid {
    margin-left: 100px;
    margin-right: 100px;
}

.toChat {
    color: white;
    background-color: #111111;
    padding-top: 5em;
}